{{#extends "base"}}
{{#block "content"}}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Description</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                {{id}}
            </td>
            <td>
                {{name}}
            </td>
            <td>
                {{cost}}
            </td>
            <td>
                {{description}}
            </td>
            <td>
                {{category.name}}
            </td>
            <td>
                {{#if image_url}}
                    <img src="{{image_url}}" class="img-fluid" />
                {{/if}}
            </td>
            <td>
                {{#each tags}}
                   <span class="badge bg-primary"> {{name}}</span>
                {{/each}}
            </td>
            <td>
                <a href="/products/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/products/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>

        </tr>
        {{/each}}
    </tbody>

</table>
{{/block}}

{{/extends}}